{
"token": "<token>",
"api_endpoint": "api.github.com/search/issues",
"org": "bitcoin",
"repo": "bitcoin",
"start_date": "2021-09-05",
"end_date": "2021-09-11",
"search_string": "repo:$ghub_org_name/$ghub_repo_name+is:pr+state:$ghub_pr_state+$ghub_pr_date:$search_start_date..$search_end_date",
"search_results_count": "100",
"email": "<email>",
"dir": "tmp",
"default_dir": "tmp"
}